*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build-logic/convention/build/libs/convention.jar
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/AndroidComposeKt$configureAndroidCompose$$inlined$apply$lambda$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/AndroidComposeKt$configureAndroidCompose$$inlined$apply$lambda$2.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/AndroidComposeKt$configureAndroidCompose$$inlined$apply$lambda$3.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/AndroidComposeKt$configureAndroidCompose$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/AndroidComposeKt$configureAndroidCompose$1$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/AndroidComposeKt.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/ChatWithMeFavorKt$configureFlavors$$inlined$apply$lambda$1$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/ChatWithMeFavorKt$configureFlavors$$inlined$apply$lambda$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/ChatWithMeFavorKt$configureFlavors$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/ChatWithMeFavorKt.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/CWMBuildType.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/FlavorDimension.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$$inlined$configure$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$2$reportTask$1$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$2$reportTask$1$2.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$2$reportTask$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$2.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$3$$special$$inlined$configure$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$3$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$3$inlined$sam$i$org_gradle_api_Action$0.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$configureJacoco$3.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt$inlined$sam$i$org_gradle_api_Action$0.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/JacocoKt.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/KotlinAndroidKt$configureKotlinAndroid$$inlined$apply$lambda$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/KotlinAndroidKt$configureKotlinAndroid$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/KotlinAndroidKt$configureKotlinAndroid$1$1.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/KotlinAndroidKt$configureKotlinAndroid$1$2.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/KotlinAndroidKt$configureKotlinAndroid$2.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/KotlinAndroidKt$sam$org_gradle_api_Action$0.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/KotlinAndroidKt.class
/build-logic/convention/build/classes/kotlin/main/com/kakapo/chatwithme/buildlogic/NiaFlavor.class
/build-logic/convention/build/classes/kotlin/main/META-INF/convention.kotlin_module
/build-logic/convention/build/classes/kotlin/main/AndroidApplicationComposeConventionPlugin$$special$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidApplicationComposeConventionPlugin.class
/build-logic/convention/build/classes/kotlin/main/AndroidApplicationConventionPlugin$$special$$inlined$configure$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidApplicationConventionPlugin$apply$1$2.class
/build-logic/convention/build/classes/kotlin/main/AndroidApplicationConventionPlugin$inlined$sam$i$org_gradle_api_Action$0.class
/build-logic/convention/build/classes/kotlin/main/AndroidApplicationConventionPlugin.class
/build-logic/convention/build/classes/kotlin/main/AndroidApplicationJacocoConventionPlugin$$special$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidApplicationJacocoConventionPlugin.class
/build-logic/convention/build/classes/kotlin/main/AndroidFeatureConventionPlugin$$special$$inlined$configure$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidFeatureConventionPlugin$$special$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidFeatureConventionPlugin$apply$1$2$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidFeatureConventionPlugin$apply$1$2.class
/build-logic/convention/build/classes/kotlin/main/AndroidFeatureConventionPlugin$apply$1$3.class
/build-logic/convention/build/classes/kotlin/main/AndroidFeatureConventionPlugin$inlined$sam$i$org_gradle_api_Action$0.class
/build-logic/convention/build/classes/kotlin/main/AndroidFeatureConventionPlugin.class
/build-logic/convention/build/classes/kotlin/main/AndroidHiltConventionPlugin$$special$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidHiltConventionPlugin$apply$1$2.class
/build-logic/convention/build/classes/kotlin/main/AndroidHiltConventionPlugin.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryComposeConventionPlugin$$special$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryComposeConventionPlugin.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryConventionPlugin$$special$$inlined$configure$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryConventionPlugin$$special$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryConventionPlugin$apply$1$2.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryConventionPlugin$apply$1$3$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryConventionPlugin$apply$1$3.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryConventionPlugin$apply$1$4.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryConventionPlugin$inlined$sam$i$org_gradle_api_Action$0.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryConventionPlugin.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryJacocoConventionPlugin$$special$$inlined$getByType$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidLibraryJacocoConventionPlugin.class
/build-logic/convention/build/classes/kotlin/main/AndroidTestConventionPlugin$$special$$inlined$configure$1.class
/build-logic/convention/build/classes/kotlin/main/AndroidTestConventionPlugin$apply$1$2.class
/build-logic/convention/build/classes/kotlin/main/AndroidTestConventionPlugin$inlined$sam$i$org_gradle_api_Action$0.class
/build-logic/convention/build/classes/kotlin/main/AndroidTestConventionPlugin.class
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/counters.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/build-logic/convention/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/build-logic/convention/build/kotlin/compileKotlin/cacheable/last-build.bin
/build-logic/convention/build/kotlin/compileKotlin/localstate/build-history.bin
/build-logic/convention/build/kotlin/conventionjar-classes.txt
/build-logic/convention/build/pluginDescriptors/chatwithme.android.application.compose.properties
/build-logic/convention/build/pluginDescriptors/chatwithme.android.application.jacoco.properties
/build-logic/convention/build/pluginDescriptors/chatwithme.android.application.properties
/build-logic/convention/build/pluginDescriptors/chatwithme.android.feature.properties
/build-logic/convention/build/pluginDescriptors/chatwithme.android.hilt.properties
/build-logic/convention/build/pluginDescriptors/chatwithme.android.library.compose.properties
/build-logic/convention/build/pluginDescriptors/chatwithme.android.library.jacoco.properties
/build-logic/convention/build/pluginDescriptors/chatwithme.android.library.properties
/build-logic/convention/build/pluginDescriptors/chatwithme.android.test.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.application.compose.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.application.jacoco.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.application.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.feature.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.hilt.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.library.compose.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.library.jacoco.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.library.properties
/build-logic/convention/build/resources/main/META-INF/gradle-plugins/chatwithme.android.test.properties
/build-logic/convention/build/tmp/jar/MANIFEST.MF
